==
<div class="row">
  <div class="col-md-offset-1 col-md-10 well">
    <div class="row">
      <div class="span8">
        <h4><strong><a href="#">{{ title }}</a></strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <a href="#" class="thumbnail">
            <img src="{{ image }}" alt="">
        </a>
      </div>
      <div class="col-xs-6">      
        <p>
          {{ description }}
        </p>

        <p ><a href="{{link}}" class="btn btn-info">Download</a></p>
      </div>
    </div>
    <div class="row">
      <div class="span8">
        <p></p>
        <p>
          <i class="icon-user"></i> von {{author}}
          | <i class="icon-calendar"></i> am {{date}}
          | 
          {% for i in 1..stars %}
               <span class="glyphicon glyphicon-star"></span>
          {% endfor %}
          {% for i in 4..stars %}
               <span class="glyphicon glyphicon-star-empty"></span>
          {% endfor %}


          | <i class="icon-share"></i> <a href="#">39 Shares</a>
          | <i class="icon-tags"></i> Tags : 
           {% for tag in tags %}
          <span class="label label-info">{{ tag }}</span>
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
</div>