==
<div class="container">
    <nav class="pull-left">
        <ul>
            <li>
                <a href="{{ 'contact' | page }}">Kontakt</a>
            </li>
        </ul>
    </nav>
    <div class="social-btns pull-right">
        <a href="http://plus.google.com/u/0/115814327992830223532/posts"><div class="fui-googleplus"></div><div class="fui-googleplus"></div></a>
        <a href="http://www.facebook.com/sam.softwaredevelopment"><div class="fui-facebook"></div><div class="fui-facebook"></div></a>
        <a href="http://twitter.com/sam_d3v3lopment"><div class="fui-twitter"></div><div class="fui-twitter"></div></a>
    </div>
    <div class="additional-links">
        <a href="{{ 'impressum' | page }}">Impressum</a>
    </div>
</div>